#mainBST {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bst-input {
    width: 40%;
    height: 38px;
    background-color: #345;
    border: none;
    text-align: center;
}

button {
    margin: 0;
}