#demo-simple-select-label {
	color: #fff;
}

label {
	color: #fff;
}

.items {
	display: flex;
	position: relative;
	left: 20%;
}

@media only screen and (max-width:1350px) {
	.items {
		position: absolute;
		border-radius: 5px;
		background: #345;
		top: 59%;
		left: 50%;
		transform: translate(-50%, 50%)
	}
}

@media only screen and (max-width:1000px) {
	.items {
		position: absolute;
		border-radius: 5px;
		background: #345;
		top: 59%;
		left: 50%;
		transform: translate(-50%, 50%)
	}
}